# Include the README file
include README.md

# Include all Python source files
recursive-include src *.py

# Exclude all compiled Python files
global-exclude *test*.pyc
global-exclude *.pyc
global-exclude __pycache__
